<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Profile</title>
</head>


<body class="bg-slate-900">
  <%- include("./partials/adminNav") %>


    <div class="w-full flex flex-row justify-center sm:justify-between ">
      <div id="sidebar"
        class=" hidden w-7/12 sm:flex  justify-center sm:w-3/12 bg-slate-800 h-[85vh] absolute sm:static left-0"
        style="z-index: 99;">
        <div id="navMenu3" class="flex flex-col  justify-between items-center h-[70vh] my-10 gap-2 ">
          <div class="top flex flex-col">
            <a href="#" class="dashboardtxt">Dashboard</a>
            <div class="flex flex-col">
              <p class="clientDetails">
                ADMIN DASHBOARD
              </p>
            </div>

          </div>

          <div class="flex mt-12">
            <a href="/logout" class="btn2"><span class="red">Logout</span></a>
          </div>
        </div>
      </div>
      <div class="dashboardDetails">

        <img class="banner"
          src="https://media.discordapp.net/attachments/1008571037862080542/1130055633878663218/NFTHouse9_blockchain_cyber_punk_theme_97ecd76f-1b0a-43b7-b1f5-0670d39acb6d.png?width=1025&height=284"></img>

        <div class="w-10/12 mx-auto " style="z-index: 8;">
          <div class="flex flex-col sm:flex-row my-4  sm:my-12 gap-3 justify-center items-center">
            

          </div>
        </div>

        <div class="tableDashboard">
          <table class="min-w-[20rem]   text-white mx-auto">
            <thead>
              <th>
                ADMIN Id
              </th>
              <th>
                Name
              </th>
            </thead>
            <tbody>
                  <tr class="">
                      <td class="text-center">
                        <%= user._id %>
                      </td>
                      <td class="text-center">
                        <%= user.name %>
                      </td>
                  </tr>

            </tbody>
            <thead>
                <th>
                  Email
                </th>
                <th>
                  Phone
                </th>
              </thead>
              <tbody>
                    <tr class="">
                        <td class="text-center">
                          <%= user.email %>
                        </td>
                        <td class="text-center">
                          <%= user.phone %>
                        </td>
                    </tr>
  
              </tbody>
          </table>
        </div>



        
      </div>

    </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%- include("./partials/footer") %>
      <script>
        $(document).ready(function () {
          // Code to be executed when the DOM is ready
          $('#adminMenu').click(function () {
            $("#sidebar").toggle()
          });
          $('#closeSidebarBtn').click(function () {
            console.log('first')
            $("#sidebar").hide()
          });
        });
      </script>
      <script>
        $(document).ready(function () {
          // Function to handle dropdown change event for all tables
          $('.rows-select').on('change', function () {
            var selectedRows = parseInt($(this).val());
            var tableContainer = $(this).closest('.table-container');
            var table = tableContainer.find('.data-table');
            var allRows = table.find('tbody tr');

            // Hide all rows initially
            allRows.hide();

            // Show selected number of rows
            allRows.slice(0, selectedRows).show();
          });
        });
      </script>